<div class="p-4 border" style="max-width:500px; margin: 0 auto">
  <h4 class="text-center">Add a new supplier</h4>
  <!--Error Message-->
  <% if flash[:messages]%>
    <% flash[:messages].each do |message|%>
      <p class="text-danger"><%= message%></p>
    <% end %> 
  <% end %>
  <%= form_with model: @supplier, url: suppliers_path do |f| %>
      <%= f.label :name, "Supplier's Name:" %>
      <%= f.text_field :name, placeholder: "Enter Supplier's Name", class: "mb-2 form-control" %>
      
      <%= f.label :nit, "Supplier's NIT:" %>
      <%= f.text_field :nit, placeholder: "Enter Supplier's NIT", class: "mb-2 form-control" %>
      
      <%= f.label :contact_name, "Contact Name:" %>
      <%= f.text_field :contact_name, placeholder: "Enter Supplier's Contact Name", class: "mb-2 form-control" %>
      
      <%= f.label :contact_phone, "Contact Phone:" %>
      <%= f.text_field :contact_phone, placeholder: "Enter Suppliers's Contact Phone", class: "mb-2 form-control" %>

      <%= f.label :bank, "Bank:" %>
      <%= f.select :bank, options_for_select(@banks.map { |bank| bank.name} || []), {} %>

      <%= f.label :account_number, "Account number:" %>
      <%= f.text_field :account_number, placeholder: "Enter Suppliers's Account Number", class: "mb-2 form-control" %>

    <%= f.submit "Create Supplier", class: "btn-primary border-0 rounded-pill py-1 px-3" %>
  <% end %>
</div>