<div class="flex-column" style = "height: auto; ">
  <h1> Suppliers </h1>
  <!--Error Message-->
  <% if flash[:errors] %>
    <% flash.each do |name,message| %>
      <p class="text-danger"><%= message%></p>
    <% end %>
  <% end %>
  <!-- Suppliers Table -->
  <div>
    <table class="table table-info table-striped">
      <ol class="fs-2">
        <thead class="table-secondary">
          <td class="text-center"> Name </td>
          <td class="text-center"> NIT </td>
          <td class="text-center"> Contact name </td>
          <td class="text-center"> Contact phone </td>
          <td class="text-center"> Bank </td>
          <td class="text-center"> Account number </td>
          <td colspan=2 class="text-center"> Action </td>
        </thead>
        <% @suppliers&.each do |s| %>
          <tr>
            <td class="text-center"> <%= s.name.presence || 'No information in table' %> </td>
            <td class="text-center"> <%= s.nit.presence || 'No information in table' %> </td>
            <td class="text-center"> <%= s.contact_name.presence || 'No information in table' %> </td>
            <td class="text-center"> <%= s.contact_phone.presence || 'No information in table' %> </td>
            <td class="text-center"> <%= s.bank.name.presence || 'No information in table' %> </td>
            <td class="text-center"> <%= s.account_number.presence || 'No information in table' %> </td>
            <td class="text-center"><%= button_to "Edit",edit_supplier_path(s),method: :get, class:"btn-primary border-0 rounded-pill px-3 py-2" %></td>
            <td class="text-center"><%= button_to "Delete",supplier_path(s),method: :delete, class:"btn-danger border-0 rounded-pill px-3 py-2" %></td>
          </tr>
        <% end %>
      </ol>
    </table>
  </div>
  <div class="d-flex">
    <%= button_to "Add New Supplier", new_supplier_path, method: :get ,class:"btn-warning border-0 rounded-pill py-1 px-3 m-3" %>
  </div>
</div>
<a href="/">Home</a>
